<html>
	<head>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="qtip.css" rel="stylesheet" media="screen">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-sanitize.min.js"></script>
        <script src="js/elastic.min.js"></script>
        <script src="js/elastic-angular-client.min.js"></script>
        <script src="js/qtip.js"></script>
	</head>
	<body>
		<div class="question">
			<h3>Question 1. Math</h3>
			<img src="images/fractionquestion.jpg"></img><br/>
			<input type="text" class="answer"/>
			<div ng-app='tipApp' ng-controller="tipCtrl" ng-init="loadTip(1)">
			Maximum score: {{tipScore}} <meter max="{{maxScore}}" min="{{minScore}}" value="{{score}}" ng-show="tipsToShow"></meter>


				<a href="#" class="tip-button"
	 				ng-click="viewTip()" ng-show="tipsToShow"
				>Trade a point for a tip</a>
				<div class="qtip">
					<ol>
	                    <li ng-repeat="tip in data.viewed">
	                        <span ng-bind-html="tip"></span>
	                    </li>
	                </ol>
				</div>
			</div>
		</div>
	</body>
</html>
